@media screen and (max-width: 480px) {
  .container {
    width: 335px;
  }
  .nav-toggle {
    display: block;
  }
  .nav {
    display: none;
  }
  .nav-anchor {
    display: block;
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .banner {
    background: linear-gradient(rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0)),
      url(/assets/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 32px 24px;
    width: 335px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-heading {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    width: 205px;
    height: 28px;
    margin-bottom: 50px;
  }
  .banner p {
    color: #fff;
    width: 304px;
    height: 63px;
    text-align: center;
  }
  .cta {
    width: 287px;
    height: 330px;
    background-color: rgba(255, 255, 255, 30%);
    border-radius: 8px;
    text-align: center;
    align-content: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    width: 255px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #fff;
  }
  .button {
    display: flex;
    padding: 14px 84px;
    text-align: center;
    align-items: center;
  }
  .pt-section {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin-top: 10px;
  }
  .left-side {
    width: 335px;
    height: 620px;
    text-align: start;
  }
  .ls-heading {
    font-size: 20px;
    font-weight: 800;
    width: 178px;
    height: 25px;
    margin-bottom: 50px;
  }
  .p-one {
    font-size: 14px;
    font-weight: normal;
    width: 335px;
    height: 72px;
  }
  .ls-list {
    width: 335px;
    height: 235px;
  }
  .rs-img {
    width: 335px;
    height: 342px;
    border-radius: 16px;
  }
  .text-container {
    width: 309px;
  }
  .text-container h1 {
    font-size: 20px;
    font-weight: 800;
    width: 166px;
    height: 25px;
    margin-bottom: 50px;
  }
  .text-container p {
    width: 309px;
    height: 72px;
    font-size: 14;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 176px;
  }
  .query-image {
    grid-column: 1/5;
  }
  .image-3 {
    grid-column: 1/5;
  }
  .image-4 {
    grid-column: 1/5;
  }
  .card-section {
    height: auto;
  }
  .top-cards {
    display: flex;
    flex-direction: column;
  }
  .card-one,
  .card-two,
  .card-three {
    width: 335px;
    height: 330px;
    padding: 0;
  }
  .card-image {
    padding: 32px 0 0 32px;
    margin-bottom: 16px;
  }
  .card-heading {
    font-size: 24px;
    font-weight: 800;
    padding: 0 0 0 32px;
    margin-bottom: 16px;
  }
  .card-text {
    width: 271px;
    height: 120px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 32px 32px;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 22px;
  }

  .main-card-one {
    position: relative;
    border-radius: 16px;
    width: 335px;
    height: 540px;
  }
  .main-card-two {
    position: relative;
    border-radius: 16px;
    width: 335px;
    height: 540px;
  }
  .child-card {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    width: 303px;
    height: 430px;
  }
  .child-card-two {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
    width: 303px;
    height: 430px;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
  }

  .c-heading {
    font-size: 20px;
  }
  .c-text {
    width: 235px;
    height: 48px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 8px;
  }
  .c-price {
    font-size: 16px;
    margin-top: 40px;
  }
  .c-button {
    font-size: 18px;
    font-weight: bold;
    padding: 9px 21px;
  }
  .section-button {
    display: none;
  }
  .top-section {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .left {
    width: 335px;
    height: 424px;
  }
  .left h1 {
    width: 248px;
    height: 60px;
    font-size: 20px;
    font-weight: 800;
  }
  .tap {
    padding: 14px 42px;
    background: #07968c;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
  }
  .right img {
    width: 335px;
    height: 200px;
  }
  .last-section-two {
    flex-direction: column;
    width: 335px;
    height: 725px;
  }
  .l-form {
    width: 310px;
    height: 390px;
    padding: 24px 0 0 23px;
  }

  .l-form h1 {
    font-size: 24px;
    font-weight: 800;
  }
  .l-form p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #5a5a5d;
  }
  .l-form hr {
    width: 93%;
  }
  html {
    width: 100%;
    height: 100%;
  }
  .l-form input {
    display: flex;
    width: 288px;
    height: 52px;
    margin: 24px 0;
    background: #f3f3f3;
    border-radius: 8px;
  }
  .f-button {
    padding: 14px 98px;
  }
  .last-s-img {
    width: 335px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 335px 300px;
  }
  .footer-section {
    margin-top: 24px;
  }
  .footer-text {
    width: 287px;
    height: 96px;
  }
}
