* {
  font-family: "Outfit", sans-serif;
}
body {
}
.team {
  justify-content: center;
  text-align: center;
  width: 278px;
  height: 371px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}
.image {
  background: #f3f7f5;
  display: inline-block;
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.image img {
  margin-top: 5px;
}
.team h2 {
  font-size: 24px;
  font-weight: 600;
  color: #454545;
}
.team p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #787878;
  margin-bottom: 28px;
}
.icon {
  padding-top: 14px;
  padding-bottom: 24px;
}
.icon img {
  margin-right: 12px;
}
