* {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}
.get_touch {
  width: 343px;
  height: 339px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 12px;
}
.get_touch {
}
.get_touch p img {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 10px;
}
.get_touch .social img {
  margin-right: 16px;
  margin-top: 16px;
}
.bottom-line {
}
.bh {
  margin-bottom: 5px;
}
.th {
  margin-bottom: 5px;
}
