* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.contact_main {
  width: 669px;
  height: 616px;
  border: 2px solid #ddd;
  border-radius: 12px;
}
form {
  padding: 50px;
}
.input {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
}
.input .sms .button {
  justify-content: center;
  align-items: center;
}

.inputgroup input {
  /* margin: 20px 30px; */
  width: 270px;
  height: 60px;
}
.inputgroup label {
  width: 100%;
  display: block;
  /* padding: 0 12px; */
}
.input input {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 12px 0;
  margin-right: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 15px;
}
.sms textarea {
  width: 100%;
  resize: none;
  min-height: 140px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
}
.sms textarea::-webkit-input-placeholder {
  padding-top: 16px;
  padding-left: 16px;
}
.input .sms textarea,
label {
  display: block;
}
.contact-btn {
  display: block;
  margin: 0 auto;
  border: none;
  width: 262px;
  background: #2d69ff;
  color: #ffffff;
  border-radius: 99px;
  padding: 16px 16px;
  justify-content: center;
}
